<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div>
            <a href="" class="navbar-brand">Lorem, ipsum dolor.</a>
        </div>
        <ul class="navbar-nav">
            <li><a *ngIf="this.getBasicAuthService().getAuthenticatedUser()" routerLink="/welcome/ammar" class="nav-link">Home</a></li>
            <li><a *ngIf="this.getBasicAuthService().getAuthenticatedUser()" routerLink="/todos" class="nav-link">Todos</a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf="!this.getBasicAuthService().getAuthenticatedUser()" routerLink="/login" class="nav-link">Login</a></li>
            <li><a *ngIf="this.getBasicAuthService().getAuthenticatedUser()" routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>